# Data Science Tools and Ecosystem

#### In this notebook, Data science tools and ecosystem are summarized.

**Objectives** 
* Python Language
* R Language
* Julia Language
* Scala Language

#### Some of the popular languages that data scientists use are:
1. Python
2. R 
3. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. Sickit-Learn
2. Panda
3. Numpy
4. Matplotlib

| Data Science Tools |
------------------------------
| Jupyter  |
| R Studio |
| Apatch Zeppelin|

### Below are a few examples of evaluating artithmetic expressions in python

In [1]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

In [2]:
# This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

## Author 
**Mohamed Shahata**